.zagolovok{
    background-color:rgb(255, 255, 255);
    margin-top: 10px; 
    font-size:35px;
    font-weight:bold;
}

.header{
 background-color:rgb(0, 0, 0);
 padding: 10px;
 height: 100px;
}
.ref
{
    width:100%; 
    background-color:rgb(224, 235, 255) ;
    margin-top:20px; padding:50px;
}
.floating
{
    float:left; border: 1px solid black;margin-right: 20px; width: 10%; background-color:rgb(200, 217, 255)  ;
}
.tablestyle
{
padding:10px;
}
.table{
    border: 2px solid black ;
}
.spanfloating
{
    background-color:rgb(196, 161, 161);
}
.shrek
{
    height: 50px; width: 50px;
}
.footer
{
    margin-top: 20px;
}